# gRPC-Web endpoint (defaults to current origin in prod)
# VITE_GRPC_WEB_URL=http://localhost:9421
VITE_GRPC_WEB_URL=

# Static file server for audio (defaults to /file in prod)
# VITE_AUDIO_BASE_URL=http://localhost:9421/file
VITE_AUDIO_BASE_URL=/file
